.courses-shell{
  min-height: 100vh;
}

nav.all-courses-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #f7f9fa;
  box-shadow: 0px 1px 2px 0px darkgrey;
  border-bottom: 1px solid #7f82af;
}

nav.all-courses-nav img{
  /*without this img stretches*/
  flex-grow: 0;
}

nav.all-courses-nav > p {
  font-size: 24px;
  margin-bottom: 0px;
  font-weight: 300;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav.all-courses-nav > span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 0px;
  /* set width to match logo on the left
  so that the title is centered */
  width: 36px;
}

nav.all-courses-nav > span:hover {
  background: darkgrey;
  color: white;
  border-radius: 7px;
}

.course-container {
  padding: 10px;
}

.course-card {
  padding: 10px;
  margin-bottom: 1.75em;
  border: 1px solid darkgrey;
  background: #f7f9fa;
  box-shadow: 0px 0px 4px 0px darkgrey;
}

.course-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.course-card-header .anticon {
  font-size: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.course-code {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0px;
}
.course-name {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 7px;
}
.course-vcount{
  color: gray;
  margin-bottom: 3px;
}

.course-card-edit > .ant-dropdown-menu {
  /*border: 2px solid #d2d2d2; */
  border-radius: 4px;
  box-shadow: 0px 3px 8px 2px #b8b8b8;
  padding: 0;
  top: -5px;
  left: -5px;
}

/* 
Dropdown UL style "ul.ant-dropdown-menu"
pass it through props?
{
  
}

// also add border-bottom to menu elements
border-bottom: 1px solid lightgray;
*/