.videos-shell{
  min-height: 100vh;
}

.videos-shell .video-container {
  padding: 10px;
}

nav.all-videos-nav {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 10px;
  background: #f7f9fa;
  box-shadow: 0px 1px 2px 0px darkgrey;
  border-bottom: 1px solid #7f82af;
}

nav.all-videos-nav img {
  /*without this img stretches*/
  flex-grow: 0;
  margin-right: 10px;
}

nav.all-videos-nav .filter-tags {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

nav.all-videos-nav .filter-tags .ant-select-selector {
  border-right: none;
  flex: 1;
  border-radius: 4px 0 0 4px;
}

nav.all-videos-nav > span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  margin-bottom: 0px;
  width: 36px;
  background: lightgray;
  border-radius: 0 4px 4px 0;
}

nav.all-videos-nav > span:hover {
  background: darkgrey;
  color: white;
}

.videos-shell .ant-breadcrumb {
  padding: 15px;
  padding-bottom: 0;
  font-size: 16px;
}

.videos-shell .ant-breadcrumb a {
  color: #1890ff
}

.videos-shell .ant-breadcrumb .anticon {
  font-size: 16px;
}


.videos-shell .video-container .course-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 20px 0;
  padding-left: 7px;
  padding-right: 7px;
}

.videos-shell .course-title-container .anticon {
  font-size: 22px;
  padding: 4px;
  background: lightgray;
  border: 1px solid gray;
  border-radius: 4px;
  cursor: pointer;
}

.add-lecture-modal .err-msg {
  font-style: italic;
  font-size: 12px;
  margin-top: 0.5em;
  color: tomato;
}

.add-lecture-modal .ant-modal-header {
  border-bottom: 1px solid lightgray;
}

.add-lecture-modal .ant-modal-title {
  text-align: center;
}

.add-lecture-modal .ant-modal-body {
  min-height: 150px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.add-lecture-modal .ant-modal-body h3{
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}

.videos-shell .video-container .course-title {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  margin-right: 10px;
  flex: 1;
}

.video-card {
  padding: 10px;
  margin-bottom: 1.75em;
  border: 1px solid darkgrey;
  background: #f7f9fa;
  box-shadow: 0px 0px 4px 0px darkgrey;
}

.video-card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.video-card-header .anticon {
  font-size: 18px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.video-card .video-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0px;
  margin-right: 7px;
}

.video-card .video-details{
  color: gray;
  margin-bottom: 10px;
}

.video-card .thumbnail {
  width: 100%;
  height: auto;
  border: 1px solid darkgray;
}

/* Search UI */

.videos-shell .video-search-collapse {
  margin: 20px 0;
}

.videos-shell .video-search-collapse .ant-collapse-header {
  background: ghostwhite;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid grey;
}

.videos-shell .video-search-collapse .ant-collapse-item
  .ant-collapse-content > .ant-collapse-content-box {
    padding-right: 7px;
    padding-left: 7px;
}