.home-shell {
    display: flex;
    min-height: 100vh;
    padding: 1em;
}

.home-content {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    min-height: 70vh;
    width: 100%;
}

.home-content > * {
    margin-bottom: 3em;
}

.logo-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.logo-panel h1 {
    font-weight: 200;
    font-size: 44px;
    margin: 0px;
}

.logo-panel img {
    width: 100px;
    height: 100px;
}

.video-link-form {
    text-align: center;
    width: 100%;
    max-width: 400px
}

.video-link-form > h2 {
    font-weight: 300;
    font-size: 28px;
    margin-bottom: 0;
}

.video-link-form > p {
    color: gray;
}

.video-link-form .err-msg{
    font-style: italic;
    font-size: 12px;
    margin-top: 0.5em;
    color: tomato;
}

.or-seperator {
    font-size: 22px;
    margin-bottom: 38px;
    font-weight: 300;
}

.notes-link > p {
    color: gray;
    margin-top: 0.5em;
}