/**********************
      Navigation      
**********************/

.notes-nav {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 10px;
  background: #f7f9fa;
  box-shadow: 0px 1px 2px 0px darkgrey;
  border-bottom: 1px solid #7f82af;
}

.notes-nav > span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  margin-bottom: 0px;
  width: 36px;
}

/**********************
      Notes Stuff      
**********************/

.notes-shell{
  min-height: 100vh;
}

.notes-shell .notes-content-wrapper {

}

.notes-shell .lecture-details {
  padding : 14px 10px;
  border-bottom: 1px solid #7b795f;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.notes-shell .lecture-details .lecture-title{
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.notes-shell .lecture-details .lecture-course{
  font-size: 16px;
  color: gray;
  font-weight: 500;
}

.notes-shell .notes-container {
  padding: 10px 5px;
}

.notes-shell .note-item {
  padding: 10px;
  margin-bottom: 1.75em;
  border: 1px solid darkgrey;
  background: #f7f9fa;
  box-shadow: 0px 0px 4px 0px darkgrey;
}
.note-item .note-top {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.note-item .note-ts {
  background: #1f1f1f;
  padding: 0px 4px;
  font-weight: 400;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid gray;
  color: #1890ff;
  cursor: pointer;
  text-decoration: underline;
}

.note-item .note-edit .anticon{
  font-size: 18px;
  padding: 5px;
  cursor: pointer;
}

.note-item .note-content {
  margin: 10px 2px;
}

.note-item .note-tags {
}
.note-item .note-tag {
  display: inline-block;
  margin-right: 10px;
  background: #fbff66;
  padding: 2px 8px;
  font-weight: 400;
  font-size: 12px;
  border-radius: 10px;
  border: 1px solid goldenrod;
}

/* EDITING stuff */

.note-item .note-top-edit {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.note-item .note-top-edit .ant-picker{
  max-width: 80px;
  padding-left: 7px;
  padding-right: 7px;
}

.note-item .note-top-edit .ant-picker .ant-picker-suffix,
.note-item .note-top-edit .ant-picker .ant-picker-clear{
  display: none;
}


.note-item .note-content-edit {
  margin-bottom: 15px;
}

.note-item .note-tags-edit {
  display: flex;
  align-items: center;
}
.note-item .note-tags-edit .ant-select {
  min-width: 120px;
}
.note-item .note-tags-edit .ant-select-selector {
  padding-right: 22px;
}
.note-item .note-tags-edit .anticon.anticon-plus {
  position: relative;
  left: -22px;
  pointer-events: none;
}


.lecture-edit-modal .label{
  margin-bottom: 7px;
}

.lecture-edit-modal .title-input{
  margin-bottom: 20px;
}


.notes-shell .notes-footer {
  background: #3f3f3f;
  color: white;
  position: sticky;
  bottom: 0px;
  padding: 7px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notes-shell .notes-footer .anticon {
  font-size: 22px;
  color: white;
  cursor: pointer;
}


/*********************
      VideoPlayer     
**********************/

.video-player {
  width: 100%;
}

.video-player.pinned {
  position: sticky;
  top: 0;
}

.notes-shell .video-container {
  background: black;
  overflow: hidden;
  overflow-x: scroll;
  line-height: 0;
}

.notes-shell .video-container .ant-spin {
  /* margin: auto;
  width: 100%;
  height: 100%;
  padding-top: 20%; */
  display: flex;
  flex-flow: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.notes-shell .video-container .ant-spin .ant-spin-dot{
  font-size: 34px;
  margin: 20px;
}

.notes-shell .video-container video {
  max-width: 100%;
  /* max-height: 100%; */
  display: block;
  margin: auto;
}